<a href="/">Home</a>
<a href="/countries">Countries</a>
<a href="/authors">Author</a>
<a href="/books">Books</a>
<a href="/chapters">Chapters</a>
<a href="/paragraphs">Paragraphs</a>
<a href="/languages">Languages</a>
